<% if answer.favorited_by?(current_user) %>
<p>
  <%= link_to question_question_answer_answer_favorite_path(answer.question_id, answer.id), method: :delete, remote: true do %>
    <i class="fa-solid fa-heart"></i> 
  <% end %>
  <%= answer.answer_favorites.count %>
</p>
<% else %>
<p>
  <%= link_to question_question_answer_answer_favorite_path(answer.question_id, answer.id), method: :post, remote: true do %>
    <i class="fa-regular fa-heart"></i>
  <% end %>
  <%= answer.answer_favorites.count %>
</p>
<% end %>