<h1>記事一覧</h1>

<% @articles.each do |article| %>

  <p>タイトル</p>
  <span>
    <%= link_to article.title, article_path(article.id) %>
  </span>
  
  <p>本文</p>
  <!--<span>本文一部表示したい</span>-->
  
  
  <!--<p>user image</p>-->
  <!--<p>user name</p>-->
  
  <!--<p>いいね数</p>-->
  <!--<p>コメント数</p>-->

  
<% end %>