<div id="sidebar" class="col-2"><%= render'layouts/sidebar' %></div>
<div id="main" class="col-10">
  <% if @users.exists? %>
    <%= render "relationships/follow_list", users: @users %>
  <% else %>
    <p>フォローしている人はいません</p>
  <% end %>
</div>