<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>

<!--<p>スペイン語レベル</p>-->
<!--<p>自己紹介文</p>-->
<!--<p>学歴・資格</p>-->

<% if @user.id == current_user.id %>
　<p><%= link_to "プロフィール編集", edit_user_path(@user), class:"text-dark" %></p>
<% end %>
<!--<もしくは<p>フォローボタン</p>-->

<!--<p>投稿数</p><p>フォロワー数</p><p>フォロー数</p>-->


<!--<p>ホーム、記事一覧、単語一覧、質問一覧、下書き一覧</p>-->

<!--<p>投稿一覧表示</p>-->