<div class="container d-flex justify-content-center">
  <ul class="list-style-none">
    <li><%= link_to "inicio", root_path %></li>
    <li><%= link_to "articulos", articles_path %></li>
    <li><%= link_to "palabras", words_path %></li>
    <li><%= link_to "preguntas", questions_path %></li>
  </ul>
</div>
