<div class="sidebar">
  <ul class="sidebar_list">
    <%= link_to "articulos", articles_path %>
    <%= link_to "palabras", words_path %>
    <%= link_to "preguntas", questions_path %>
  </ul>
</div>
